@import url('https://fonts.googleapis.com/css?family=Bangers|Changa|IM+Fell+Great+Primer+SC|Press+Start+2P');

body{
    font-family: 'Bangers', 'Press+Start+2P', Arial, Helvetica, sans-serif;
    color: rgb(0, 255, 234);
    background-image: url("Chris Licitra.jpg");

} 