@import url('https://fonts.googleapis.com/css?family=Bangers|Changa|IM+Fell+Great+Primer+SC|Press+Start+2P');

body{
    font-family: 'Bangers', 'Press+Start+2P', Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 
        1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    background-image: url("Chris Licitra.jpg");
    background-color: rgba(104, 102, 102, 0.322);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

} 
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    margin: 0px
}